* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background: none;
  outline: none;
  border: 1px solid gray;
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
}

button:hover {
  color: rgba(0, 0, 0, 1);
}

button:active {
  background-color: #000;
  color: white;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* NAV */
.nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  right: 0;
  z-index: 1000;
  transition: top 0.5s linear;
  background-color: white;
}

.nav::after {
  content: '';
  display: block;
  position: absolute;
  background-color: black;
  height: 2px;
  right: 0%;
  bottom: 0;
  left: 0%;
  margin-top: 100%;
  z-index: -1;
  transition: all 1s;
}

.nav-hidden {
  top: -50px;
  border: none;
}

.nav-hidden::after {
  left: 50%;
  right: 50%;
  transition: all 0.5s;
}

nav ul {
  display: flex;
  height: 100%;
  list-style: none;
  justify-content: center;
}

nav ul li {
  margin: auto 10px;
  height: 60%;
  width: 100px;
}

nav ul li button {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

main {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  perspective: 1600px;
}

.cube {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-400px);
  transition: transform 1s;
}

.wall {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  border: 1px solid black;
  backface-visibility: hidden;
}

.wall-backface {
  backface-visibility: visible;
}

.show-front {
  transform: translateZ(-400px) rotateY(0deg);
}

.show-back {
  transform: translateZ(-400px) rotateY(180deg);
}

.show-left {
  transform: translateZ(-400px) rotateY(90deg);
}

.show-right {
  transform: translateZ(-400px) rotateY(-90deg);
}

.show-top {
  transform: translateZ(-400px) rotateX(-90deg);
}

.show-bottom {
  transform: translateZ(-400px) rotateX(90deg);
}

.front {
  background-color: rgba(255, 255, 0, 0);
  transform: rotateY(0deg) translateZ(400px);
}

.back {
  background-color: rgba(255, 0, 255, .2);
  transform: rotateY(180deg) translateZ(400px);
}

.left {
  background-color: rgba(255, 180, 0, 0.4);
  transform: rotateY(-90deg) translateZ(400px);
}

.right {
  transform: rotateY(90deg) translateZ(400px);
  background-color: rgba(0, 0, 0, 0.5);
}

.top {
  background-color: rgba(0, 0, 255, 0);
  transform: rotateX(90deg) translateZ(400px);
}

.bottom {
  background-color: rgba(0, 0, 0, 0.7);
  transform: rotateX(-90deg) translateZ(400px);
}

/* FRONT */
.title-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-container::before {
  content: "";
  background-image: linear-gradient(#fff 50%, #000 50%);
  position: absolute;
  width: 200%;
  height: 200%;
  left: -400px;
  top: -400px;
  z-index: -1;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: all 1s;
}

.title-hide::before {
  transition: all .5s;
  opacity: 0;
}

.title-moving {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  width: 45%;
  height: 25%;
  border: black 2px solid;
  box-shadow: 0px 0px 0px 1px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow .5s linear, background-color 1s linear;
}

.title-moving-transform {
  box-shadow: 0px 0px 300px 300px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid white;
}

.title-header {
  text-align: center;
  text-shadow: 1px 1px 1px rgb(255, 255, 255), 1px -1px 1px rgb(255, 255, 255), -1px -1px 1px rgb(255, 255, 255), -1px 1px 1px rgb(255, 255, 255);
  margin: 20px;
  font-size: 50px;
  letter-spacing: 8px;
}

.title-button {
  width: 150px;
  height: 40px;
  line-height: 30px;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 20px auto;
  border: 1px solid black;
  box-shadow: 0px 0px 0px 1px white;
  text-shadow: 1px 1px 1px rgb(255, 255, 255), 1px -1px 1px rgb(255, 255, 255), -1px -1px 1px rgb(255, 255, 255), -1px 1px 1px rgb(255, 255, 255);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}